ul
{
  list-style-type: none;
  text-align: right;
}

.footer{
  height: 300px;
  margin-top: 100px;
}

.blocfooter{
  height: 150px;
}

.margeblocfoot1{

}

.margeblocfoot3{
  
}
